# These variables are things you use to configure your own
# OPTEE applications.
#
# To override these, copy this file and set FW_CONFIG=<path> to point
# to you own file with these configs.  You will also need to set
# FW_ROOT=<path> to where the firware build is.

# Override these with your own keys to replace the default.  You
# should do that in a real applicatin.
TA_SIGN_KEY ?= $(FW_ROOT)/imx-optee-os/keys/default_ta.pem
TA_PUBLIC_KEY ?= $(TA_SIGN_KEY)

KEYS = TA_SIGN_KEY=$(TA_SIGN_KEY) TA_PUBLIC_KEY=$(TA_PUBLIC_KEY)

# Where to put includes, libraries, etc.  For optee-client for now.
INSTALL_DIR ?= install

CROSS_COMPILE ?= aarch64-linux-gnu-

# Platform things.
PLATFORM ?= imx8mq
OPTEE_PLATFORM = imx-mx8mqevk
MKIMAGE_SOC = iMX8M

TA_DEV_KIT_DIR=$(FW_ROOT)/imx-optee-os/out/arm-plat-imx/export-ta_arm64

TEEC_EXPORT=$(FW_ROOT)/$(INSTALL_DIR)